In [8]:
from sqlalchemy import create_engine, inspect
import numpy as np
import pandas as pd
import yaml 
import psycopg2

In [9]:
path = r'C:\Users\Razer\Documents\AI_Core\mrdc\db_creds.yaml'

In [10]:
with open(path, 'r') as file:
    db_creds = yaml.safe_load(file)
print(db_creds)

{'RDS_HOST': 'data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com', 'RDS_PASSWORD': 'AiCore2022', 'RDS_USER': 'aicore_admin', 'RDS_DATABASE': 'postgres', 'RDS_PORT': 5432, 'RDS_DATABASE_TYPE': 'postgresql', 'DBAPI': 'psycopg2'}

In [11]:
HOST = db_creds.get('RDS_HOST')
PASSWORD = db_creds.get('RDS_PASSWORD')
USER = db_creds.get('RDS_USER')
DATABASE = db_creds.get('RDS_DATABASE')
PORT = db_creds.get('RDS_PORT')
DBTYPE = db_creds.get('RDS_DATABASE_TYPE')
DBAPI = db_creds.get('DBAPI')

In [12]:
url = f"{DBTYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"
url

'postgresql+psycopg2://aicore_admin:AiCore2022@data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/postgres'

In [13]:
engine = create_engine(url)
print(engine)

Engine(postgresql+psycopg2://aicore_admin:***@data-handling-project-readonly.cq2e8zno855e.eu-west-1.rds.amazonaws.com:5432/postgres)

In [14]:
engine.connect()
inspector = inspect(engine)
table_names = inspector.get_table_names()
print(table_names)

['legacy_store_details', 'dim_card_details', 'legacy_users', 'orders_table']

In [15]:
'''
AICore notebook 
from sqlalchemy import inspect
inspector = inspect(engine)
inspector.get_table_names()

actors = pd.read_sql_table('actor', engine)
'''

"\nAICore notebook \nfrom sqlalchemy import inspect\ninspector = inspect(engine)\ninspector.get_table_names()\n\nactors = pd.read_sql_table('actor', engine)\n"

In [24]:
# from sqlalchemy import text
# with engine.connect() as connection:
#     result = connection.execute(text("SELECT * FROM legacy_users"))
#     for row in result:
#         print(row)

In [33]:
users = pd.read_sql_table('legacy_users', engine)
users

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,1940-12-01,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,2001-12-20,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,1995-08-02,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,2016-12-16,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,1972-09-23,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,2004-02-23,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-09-01,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,1943-08-09,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,2016-04-15,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,1948-08-20,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,2020-07-20,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-03-07,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-01-03,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,1994-03-27,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,2015-08-28,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [35]:
users_rd = users.drop_duplicates()
users_rd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          15320 non-null  int64
 1   first_name     15320 non-null  object
 2   last_name      15320 non-null  object
 3   date_of_birth  15320 non-null  object
 4   company        15320 non-null  object
 5   email_address  15320 non-null  object
 6   address        15320 non-null  object
 7   country        15320 non-null  object
 8   country_code   15320 non-null  object
 9   phone_number   15320 non-null  object
 10  join_date      15320 non-null  object
 11  user_uuid      15320 non-null  object
dtypes: int64(1), object(11)
memory usage: 1.4+ MB

In [40]:
users_rd['join_date'] = pd.to_datetime(users_rd['join_date'])

ValueError: time data "2006 September 03" doesn't match format "%Y-%m-%d", at position 202. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [41]:
row202 = users_rd.iloc[202]
row202

index                                               202
first_name                                      Mohamed
last_name                                      Woodward
date_of_birth                                1968-10-25
company                        Barrett, Jones and Smith
email_address               colemandanny@grant-lamb.org
address          96 Danny trail\nEast Valerie\nKA39 2JN
country                                  United Kingdom
country_code                                         GB
phone_number                              (0113)4960884
join_date                             2006 September 03
user_uuid          6904f151-6d32-4d1e-b477-41801a9a8e83
Name: 202, dtype: object